<?xml version="1.0"?>
<launch>
  <!-- 맵 서버 실행 -->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/cal/catkin_ws/src/box_map/map/lab_map.yaml" />
  
  <!-- AMCL 로컬라이제이션 -->
  <include file="$(find box_navigation)/launch/dwa_amcl.launch"/>

  <!-- Move Base 노드 -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find box_navigation)/params/dwa_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find box_navigation)/params/dwa_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find box_navigation)/params/dwa_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find box_navigation)/params/dwa_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find box_navigation)/params/dwa_base_local_planner_params.yaml" command="load" />
    
    <!-- 경로 계획 및 회피 파라미터 -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    
    <!-- 회복 행동 설정 -->
    <param name="recovery_behavior_enabled" value="true"/>
    <param name="clearing_rotation_allowed" value="true"/>
    
    <!-- transform_tolerance 증가 -->
    <param name="transform_tolerance" value="0.8"/>
    
    <!-- 컨트롤러 주기 설정 (옵션) -->
    <param name="controller_frequency" value="10.0"/>
    <param name="planner_patience" value="5.0"/>
    <param name="controller_patience" value="15.0"/>
    <param name="conservative_reset_dist" value="3.0"/>
  </node>
</launch>